$pink: #b68fa2;
$gray: #333b3e;
$almond: #f3dbcf;
$button: #e0c3b9;
$purple: #755f73;

@media only screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-wrap: wrap;
  }
}

@mixin effect {
  background-color: $almond;
  color: $purple;
}

@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  @include display-center();
}

.pic {
  height: 60%;
  width: 60%;
  border-radius: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px $button;
  margin-left: 10%;
  @media (max-width: 768px) {
    margin: 0;
  }
}
.about-text {
  @include display-center();
  flex-direction: column;
  margin-bottom: 2%;
  color: $purple;
  text-align: center;
  padding: 10%;
  font-family: "Open Sans", sans-serif;
}

.text-title {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  margin: 0;
}

.resume {
  background-color: $button;
  border: $purple 1.5px;
  box-shadow: 0 0 10px $button;
  width: 100%;
  padding: 5%;
  margin: 2%;
  @include display-center();
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  color: $pink;

  &:hover {
    @include effect();
  }
}

.about-info {
  margin: 4%;
}

.funfacts {
  @include display-center();
  margin: 2%;
  flex-direction: column;
}
.facts {
  margin: 4%;
  text-align: center;
  width: 55%;
  color: $purple;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

.cuties {
  height: 200px;
  width: 150px;
  border-radius: 2%;
  box-shadow: 0 0 10px $button;
}

.sec-fun {
  @include display-center();
}

@media only screen and (max-width: 768px) {
  .sec-fun {
    display: flex;
    flex-wrap: wrap;
  }
}
