$pink: #b68fa2;
$gray: #333b3e;
$almond: #f3dbcf;
$button: #e0c3b9;
$purple: #755f73;

@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin effect {
  background-color: $almond;
  color: $purple;
}

@media only screen and (max-width: 812px) {
  .body-contact {
    display: flex;
    flex-wrap: wrap;
  }
}
.body-contact {
  @include display-center();
  flex-direction: row-reverse;
}
.info-contact {
  @include display-center();
  flex-direction: column;
  padding: 2%;
  margin: 2%;
}
.redhead {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  margin: 2%;
  box-shadow: 0 0 10px $button;
}
.email {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  // background-color: rgb(82, 93, 121);
  @include display-center();
  margin: 2%;
}

.linkedin {
  height: 37px;
  width: 37px;
  margin: 2%;
  @include display-center();
}

.phrase {
  color: $purple;
  font-family: "Open Sans", sans-serif;
}

.button-contact {
  background-color: $button;
  border: $purple 1.5px;
  box-shadow: 0 0 10px $button;
  width: 100%;
  padding: 5%;
  @include display-center();
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  color: $pink;
  margin: 2%;
}
