$pink: #b68fa2;
$gray: #333b3e;
$almond: #f3dbcf;
$button: #e0c3b9;
$purple: #755f73;
@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-contact {
  @include display-center();
  flex-direction: row-reverse;
}
.info-contact {
  @include display-center();
  flex-direction: column;
}
.redhead {
  height: 30%;
  width: 30%;
  border-radius: 50%;
}
.email {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  background-color: rgb(82, 93, 121);
}

.linkedin {
  height: 30%;
  width: 30%;
}

.phrase {
  color: $purple;
}

.button-contact {
  background-color: $button;
  border-color: $purple 2px;
}
