$pink: #b68fa2;
$gray: #333b3e;
$texto: #acbcb1;

@mixin header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {
  color: $pink;
  background-color: $gray;
  margin: 0;
  font-size: 10vh;
  margin-left: 10vh;
  display: flex;
}

.home {
  background-color: $gray;
}

.texto {
  color: $texto;
}

.texto-skills {
  color: $texto;
}

.texto-final {
  color: $texto;
}

.skills {
  color: #d5c7bc;
  font-family: "Quicksand", sans-serif;
}

.selfie {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.lista {
  @include header();
  width: 40vh;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 1%;
  margin-left: 3%;
}
