$pink: #b68fa2;
$gray: #333b3e;
$almond: #f3dbcf;
$button: #e0c3b9;
$purple: #755f73;

@mixin text {
  color: $purple;
  font-family: "Open Sans", sans-serif;
}

@mixin effect {
  background-color: $almond;
  color: $purple;
}

@mixin title {
  color: $purple;
  font-family: "Poiret One", cursive;
  font-weight: bolder;
}

@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  background-color: $almond;
  margin: 0;
  height: 100%;
  width: 100%;
}

.selfie {
  height: 30%;
  width: 30%;
  border-radius: 50%;
}

.pic-about {
  @include display-center();
  margin: 2%;
  background-color: $almond;
  flex-direction: column;
  height: 100%;
}

.text-about {
  text-align: center;
  @include text();
  margin: 2%;
  padding: 2%;
}

.text-final {
  text-align: center;
  @include text();
  margin: 1%;
  @include display-center();
  flex-direction: column;
}
.section-s {
  @include display-center();
  flex-direction: column;
  margin: 1%;
}
.text-skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;

  @include text();
}
.column-1 {
  margin: 5%;
  text-align: center;
}

.text-end {
  @include title();
  text-align: center;

  font-weight: bolder;
}

.information {
  background-color: $button;
  border: $purple 1.5px;
  box-shadow: 0 0 10px $button;
  width: 100%;
  padding: 5%;

  @include display-center();
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  color: $pink;
}

hr.dotted {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, $almond, $pink, $almond);
}

hr.dotted::after {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 1rem;
  background-color: $almond;
}

footer {
  @include display-center();
  flex-direction: column;
  margin-bottom: 2%;
  background-color: $almond;
  text-align: center;
}

.contact {
  background-color: $button;
  border: $purple 1.5px;
  box-shadow: 0 0 10px $button;
  width: 100%;
  padding: 5%;

  @include display-center();
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  color: $pink;
}

.contact:hover {
  color: $purple;
  background-color: $almond;
}

html {
  background-color: $almond;
}
