.home {
  background-color: #f3dbcf;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.selfie {
  height: 30%;
  min-height: 300px;
  min-width: 300px;
  width: 30%;
  border-radius: 25%;
  margin: 2%;
}

.pic-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
  background-color: #f3dbcf;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2%;
  width: 60%;
}

.text-about {
  text-align: center;
  color: #755f73;
  font-family: "Open Sans", sans-serif;
  margin: 4%;
  max-width: 70%;
  min-width: 300px;
}

.text-final {
  text-align: center;
  color: #755f73;
  font-family: "Open Sans", sans-serif;
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1%;
}

.column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: bold;
  list-style: none;
  text-align: center;
  color: #755f73;
  font-family: "Open Sans", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

li {
  margin: 2%;
  list-style-type: none;
}

.text-end {
  color: #755f73;
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  text-align: center;
  font-weight: bolder;
}

.text-skills {
  min-width: 400px;
  margin-right: 35px;
}

.button {
  background-color: #e0c3b9;
  border: #755f73 1.5px;
  -webkit-box-shadow: 0 0 10px #e0c3b9;
          box-shadow: 0 0 10px #e0c3b9;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  color: #b68fa2;
  margin: 5px;
}

.button:hover {
  background-color: #f3dbcf;
  color: #755f73;
}

hr.dotted {
  border: none;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f3dbcf), color-stop(#b68fa2), to(#f3dbcf));
  background-image: linear-gradient(to right, #f3dbcf, #b68fa2, #f3dbcf);
}

hr.dotted::after {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
          transform: translate(-50%, -50%) rotate(60deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  padding: 1rem;
  background-color: #f3dbcf;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
  background-color: #f3dbcf;
  text-align: center;
}

.contact:hover {
  color: #755f73;
  background-color: #f3dbcf;
}

html {
  background-color: #f3dbcf;
}

@media only screen and (max-width: 900px) {
  .pic-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=home.css.map */