$pink: #b68fa2;
$gray: #333b3e;
$almond: #f3dbcf;
$button: #e0c3b9;
$purple: #755f73;

@mixin effect {
  background-color: $almond;
  color: $purple;
}
.project {
  height: 100%;
  width: 100%;
}
@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.github {
  height: 37px;
  width: 37px;
  background-color: $button;
  border-radius: 1%;
  margin: 1%;
}

.title {
  color: $purple;
  font-family: "Poiret One", cursive;
  font-size: 300%;
  font-weight: bolder;
  margin: 4%;
  letter-spacing: 2px;
  @include display-center();
}

.title-r {
  color: $purple;
  font-family: "Poiret One", cursive;
  font-size: 300%;
  font-weight: bolder;
  margin: 4%;
  margin-right: 8%;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 2px;
}

.sec-recipe {
  @include display-center();
  margin: 4%;
}

@media only screen and (max-width: 1000px) {
  .sec-recipe {
    display: flex;
    flex-wrap: wrap;
    @include display-center();
  }
}

.sec-avalanche {
  @include display-center();
  margin: 4%;
  flex-direction: row;
}

@media only screen and (max-width: 1000px) {
  .sec-avalanche {
    display: flex;
    flex-wrap: wrap;
  }
}

.text-r {
  padding: 2%;
  margin: 4%;
  color: $purple;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  @include display-center();
  flex-direction: column;
}

video {
  border-radius: 1%;
  margin: 4%;
  @include display-center();
}
.sec-artistry {
  margin: 4%;
  padding: 2%;
  color: $purple;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  @include display-center();
  flex-direction: column;
}

.link {
  background-color: $button;
  border: $purple 1.5px;
  box-shadow: 0 0 10px $button;
  width: 100%;
  padding: 5%;
  @include display-center();
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  color: $pink;
}

.end {
  @include display-center();
  margin: 3%;
}

.buttonP {
  background-color: $button;
  border: $purple 1.5px;
  box-shadow: 0 0 10px $button;
  width: 250px;
  height: 65px;
  padding: 5%;
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  color: $pink;
  margin-top: 4%;
  font-size: larger;
  @include display-evenly();
}
