.title {
  font-family: "Sacramento", cursive;
  color: #b68fa2;
  font-size: 200%;
}

.name {
  font-family: "Sacramento", cursive;
}
button {
  font-family: "Quicksand", sans-serif;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
}

.selfie {
  height: 60vh;
}

.App {
  background-color: #333b3e;
  height: 100%;
  width: 100vw;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
