.title {
  font-family: "Sacramento", cursive;
  color: #b68fa2;
  font-size: 300%;
}

.name {
  font-family: "Sacramento", cursive;
  font-size: 120px;
}
button {
  font-family: "Quicksand", sans-serif;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
}

.selfie {
  height: 60vh;
}
